body, #hero {
    display: flex;
    flex-direction: column;
}

body {
    background-color: rgb(245, 244, 244);
    font-family: Times, serif;
}

#input-el {
    background-color: transparent;
    color: white;
    width: 70px;
    height: 50px;
    border: 1px solid rgb(237, 237, 237);
    border-radius: 2px;
    margin-bottom: 15px;
    font-size: 40px;
    text-align: center;
}

#input-btn {
    width: 80px;
    padding: 10px;
    margin-bottom: 10px;
}

#hero {
    padding: 5px;
    background-color: rgb(64, 64, 188);
    color: white;
    text-align: center;
    justify-content: center;
    align-items: center;
}



.unit-converter {
    color: rgb(90, 90, 192);
    background-color: white;
    height: 100px;
    text-align: center;
    padding: 1px;
    margin: 20px;
    border-radius: 5px;
}

.converter {
    color: black;
}


