body {
    background: white; /* red, blue, yellow, etc */
    color: black; /* red, blue, yellow, etc */
    font-size: 100px; /* 0px - 100px and beyond */
    font-weight: bold; /* lighter, normal, bold  */
    text-align: center; /* left, center or right */
    margin-top: 20px; /* from 0px and upwards */
}