.container {
    border: 8px solid #016a26;
    height: 360px;
    display: flex;
    flex-direction: column; /*Aqui se especifica que hagan stack en una columna, por defecto es en una fila*/
    justify-content: start; /*Esto modifica el eje x(main axis). Pero como cambiamos la direccion ahora sera al contrario y manejara el cross axis*/
    align-items: center; /*Esto modifica el eje y(cross axis). Pero como cambiamos la direccion ahora sera al contrario y manejara el main axis*/
}

.item {
    width: 50px;
    height: 50px;
    padding: 10px;
    margin: 2px;
    font-size: 50px;
    border: 2px solid black;
    background: linear-gradient(#14463d,#016a26);
}