.pricing {
    display: flex;
}

.individual-pricing {
    margin-left: 20px;
    margin-right: 20px;
}

.individual-pricing {
    margin-left: 20px;
    margin-right: 20px;
}

h1 {
    margin-left: 20px;
}