@font-face {
    font-family: "Orbitron";
    src: url(fonts/Orbitron-Regular.ttf);
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Orbitron";
    src: url(fonts/Orbitron-Bold.ttf);
    font-style: normal;
    font-weight: 700;
}

body {
    background-image: url("images/universe.jpg");
    color: white;
    background-size: cover;

    text-align: center;
}

.apply-btn {
    font-family: OrbitronBold, sans-serif;
    /*height: 40px;*/
    background-color: white;
    border: 0;
    font-weight: bold;
    padding: 8px 12px;
}

h1 {
    font-family: Orbitron, sans-serif;
    font-weight: 700;
}




