@font-face {
    font-family: "Orbitron";
    src: url(fonts/Orbitron-Regular.ttf);
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Orbitron";
    src: url(fonts/Orbitron-Bold.ttf);
    font-style: normal;
    font-weight: 700;
}

body {
    background-image: url("images/galaxy.webp");
    color: white;
    background-size: cover;
    font-family: Orbitron, sans-serif;
    text-align: center;
}

.btn {
    background-color: white;
    border: 0;
    padding: 8px 12px;
    font-family: inherit;
}

.underline {
    border-bottom: 4px solid white;
}

#main-logo {
    width: 100px;
}




