@font-face {
    font-family: "Orbitron";
    src: url(fonts/Orbitron-Regular.ttf);
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Orbitron";
    src: url(fonts/Orbitron-Bold.ttf);
    font-style: normal;
    font-weight: 700;
}

#hero-section {
    background-image: url("images/galaxy.webp");
    background-size: cover;
    padding: 50px 0 100px 0;
}

body {
    margin: 0;
    color: #82a5ca;
    font-family: Orbitron, sans-serif;
    text-align: center;
}

h1 {
    text-shadow: 0px 0px 5px black;
}

.btn {
    background-color: white;
    border: 0;
    padding: 8px 12px;
    font-family: inherit;
    font-weight: bold;
    color: #82a5ca;
}

.underline {
    border-bottom: 4px solid white;
}

#main-logo {
    width: 100px;
}




