@font-face {
    font-family: HappyMonkey;
    src: url(fonts/HappyMonkey-Regular.ttf);
    font-weight: 400;
    font-style: normal;
}

#avatar {
    border-radius: 50%;
    width: 200px;
    border: 4px solid #efb0c9;
}

body {
    text-align: center;
    font-family: HappyMonkey, serif;
    background-color: #a2d2ff;
    color: #ffffff;

}

h1, h2, h4, h3 {
    text-shadow: 0px 0px 1px black;
}

#bday-age, #bday-date {
    background: #EFB0C9;
    padding: 8px;
    border-radius: 5px;
    margin-top: 8px;
    margin-bottom: 8px;
}

#header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.gift-img {
    background-image: url("images/gift-cover.jpg");
    background-size: cover;
    height: 400px;
    background-position: center;
    width: 400px;
    border: 5px solid white;
    border-radius: 10px;
}

.gift-title {
    margin-bottom: 10px;
}

.gift-hint {
    margin-top: 0;
}

.gift-section {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}