@font-face {
    font-family: HappyMonkey;
    src: url(fonts/HappyMonkey-Regular.ttf);
    font-weight: 400;
    font-style: normal;
}

#avatar {
    border-radius: 50%;
    width: 200px;
    border: 4px solid #efb0c9;
}

body {
    text-align: center;
    font-family: HappyMonkey, serif;
    background-color: #a2d2ff;
    color: #ffffff;

}

h1, h2, h4 {
    text-shadow: 0px 0px 1px black;
}