@font-face {
    font-family: HappyMonkey;
    src: url(fonts/HappyMonkey-Regular.ttf);
    font-weight: 400;
    font-style: normal;
}

#avatar {
    border-radius: 50%;
    width: 200px;
}

body {
    text-align: center;
    font-family: HappyMonkey, serif;
}